<mat-card>
  <h2>Turnos del paciente</h2>
</mat-card>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="profesional">
      <th mat-header-cell *matHeaderCellDef class="table-header-title"> Profesional. </th>
      <td mat-cell *matCellDef="let element"> {{element.data.profesional}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="paciente">
      <th mat-header-cell *matHeaderCellDef class="table-header-title"> Paciente </th>
      <td mat-cell *matCellDef="let element"> {{element.data.paciente}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="diaHora">
      <th mat-header-cell *matHeaderCellDef class="table-header-title"> Dia/hora </th>
      <td mat-cell *matCellDef="let element"> {{element.data.diaHora}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef class="table-header-title"> Estado </th>
      <td mat-cell *matCellDef="let element"> {{estadoTurnosLabel.get(element.data.estado)}} </td>
    </ng-container>

    <ng-container matColumnDef="reseniaProfesional">
      <th mat-header-cell *matHeaderCellDef class="table-header-title"> Resenia Prof. </th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.reseniaProfesional != ''" mat-icon-button color="primary" arial-label="VerResenia" (click)="mostrarResenia(element.data.reseniaProfesional)"><mat-cion>Ver Resenia</mat-cion></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="reseniaPaciente">
      <th mat-header-cell *matHeaderCellDef class="table-header-title"> Resenia Paciente </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.reseniaPaciente}} </td> -->
      <td mat-cell *matCellDef="let element">
        <button *ngIf="element.reseniaPaciente != ''" mat-icon-button color="primary" arial-label="VerResenia" (click)="mostrarResenia(element.data.reseniaPaciente)"><mat-cion>Ver Resenia</mat-cion></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="confirmar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.data.estado === estadoTurno.Pendiente">
          <button mat-raised-button color="accent" arial-label="Confirmar" class="table-button-action" (click)="confirmarTurno(element.id)"><mat-cion>Confirmar</mat-cion></button>
          <button mat-raised-button color="warn" arial-label="Rechazar" class="table-button-action" (click)="rechazarTurno(element.id)"><mat-cion>Rechazar</mat-cion></button>
        </div>
        <div *ngIf="element.data.estado === estadoTurno.Confirmado">
          <button mat-raised-button color="warn" arial-label="Cancelar" class="table-button-action" (click)="cancelarTurno(element.id)"><mat-cion>Cancelar</mat-cion></button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
