<h1 style="text-align: center;">Alta turno</h1>
<div class="row justify-content-md-center alta-turno-container">
    <div class="col-3">
        <app-especialidades [listado]="especialidadesParaCompartir" (buscarProfesionalPorEspecialidad)="buscarProfesional($event)"></app-especialidades>
    </div>
    <div class="col-4">
      <app-profesionales [listado]="profesionalesParaCompartir"></app-profesionales>
    </div>

    <div class="col-5">
      <app-profesionales [listado]="profesionalesParaCompartir"></app-profesionales>
    </div>
</div>
