<div class="card-header headerC">
  <h3>Registro</h3>
</div>
<mat-form-field class="ddl-tipo-usuario">
  <mat-select placeholder="Seleccione un tipo de usuario" name="tipoUsuario" [(ngModel)]="tipoUsuario"
    id="inputSuccess2" required>
    <mat-option *ngFor="let tipoUsuario of tiposUsuariosCombo" [value]="tipoUsuario">
      {{ tipoUsuarioLabel.get(tipoUsuario) }}
    </mat-option>
  </mat-select>
</mat-form-field>

<form [formGroup]="userGroup">
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>

    </div>
    <input type="text" class="form-control" placeholder="nombre" formControlName="nombre">

  </div>
  <div *ngIf="nombreControl.errors">
    <div *ngIf="nombreControl.errors.required &&
        (nombreControl.dirty || nombreControl.touched)">
      <p style="color:red;font-size: 12px;">Debe ingresar un nombre</p>
    </div>
  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-user"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="apellido" formControlName="apellido">

  </div>
  <div *ngIf="apellidoControl.errors">
    <div *ngIf="apellidoControl.errors.required &&
        (apellidoControl.dirty || apellidoControl.touched)">
      <p style="color:red;font-size: 12px;">Por favor escriba su apellido</p>
    </div>
  </div>


  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-send-o"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="email" formControlName="email">

  </div>
  <div *ngIf="email.errors">
    <div *ngIf="email.errors.required &&
        (email.dirty || email.touched)">
      <p style="color:red;font-size: 12px;">Debe ingresar un email</p>
    </div>
  </div>
  <div *ngIf="email.errors">
    <div *ngIf="email.errors.email &&
        (email.dirty || email.touched)">
      <br>
      <p style="color:red;font-size: 12px;">Debe ingresar un correo electrónico válido</p>
    </div>
  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="password" formControlName="password1"
      (change)="onPasswordChange()">

  </div>
  <div *ngIf="password1.errors">
    <div *ngIf="password1.errors.required &&
        (password1.dirty || password1.touched)">
      <br>
      <p style="color:red;font-size: 12px;">Debe ingresar una contraseña</p>
    </div>
  </div>

  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-key"></i></span>
    </div>
    <input type="password" class="form-control" placeholder="password" formControlName="password2"
      (change)="onPasswordChange()">


  </div>
  <div class="container">
    <div class="row">
      <div *ngIf="password2.errors">
        <div *ngIf="password2.errors.passwordNotMatch &&
            (password2.dirty || password2.touched || password1.dirty || password1.touched)">
          <p style="color:red;font-size: 12px;">Las contraseñas no corresponden</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <div *ngIf="(password1.errors && password1.errors.minlength && (password1.dirty || password1.touched)) ||
            password2.errors && password2.errors.minLength && (password2.dirty || password2.touched)">
          <p style="color:red;font-size: 12px;">La contraseña debe contener al menos 6 letras</p>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="password2.errors">
      <div *ngIf="password2.errors.required &&
        (password2.dirty || password2.touched)">
        <p style="color:red;font-size: 12px;">Debe confirmar la contraseña</p>
      </div>
    </div>
  </div>


  <div *ngIf="this.tipoUsuario === tiposUsuarios.Paciente && this.filesToUpload.length <= 2" class="item form-group">
    <div class="col-md-12 col-sm-12 ">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-md"></div>
        <div class="col-md">
          <a>
            <label for="file"><i class="fa fa-upload"> </i>
              Subir imagenes</label>
          </a>
        </div>
        <div class="col-md">
          <input type="file" class="hidden" id="file" #fileUploader (change)="handleFileInput($event.target.files)" multiple>
        </div>
      </div>
      <ul class="bg-light" *ngFor="let archivo of filesToUpload">
        <li>
          <div class="row">
            <div class="col-10">
              <span class="file-name">{{ archivo.name }}</span>
            </div>
            <div class="col-2">
              <div class="btn-image">
                <button class="fa fa-close btn-close" (click)="removeFile(archivo)"></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <input [disabled]="!userGroup.valid" type="submit" class="btn float-right login_btn" (click)="onSubmit()"
      [formGroup]="userGroup">
  </div>



</form>
