<nav class="navbar navbar-expand-lg navbar-dark bg-black headerNav">

  <button class="navbar-toggler headerNav" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="isLoggedIn()" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="tipoUsuarioLogged && (tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Paciente) || tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Paciente))" class="nav-item active">
        <a class="nav-link" routerLink="/turnos-paciente" routerLinkActive="active-link">Turnos</a>
      </li>

      <li *ngIf="tipoUsuarioLogged && (tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Profesional) || tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Profesional))" class="nav-item active">
        <a class="nav-link" routerLink="/turnos" routerLinkActive="active-link">Turnos</a>
      </li>
      <li *ngIf="tipoUsuarioLogged && (tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Profesional) || tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Profesional))" class="nav-item active">
        <a class="nav-link" routerLink="/horarios-profesional" routerLinkActive="active-link">Horarios</a>
      </li>


      <!-- solo admin: seccion de aprobacion de profesionales -->
      <li *ngIf="tipoUsuarioLogged && tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Administrador)" class="nav-item active">
        <a class="nav-link" routerLink="/Principal/QuienSoy" routerLinkActive="active-link">Gestión</a>
      </li>

      <li *ngIf="tipoUsuarioLogged && tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Administrador)" class="nav-item active">
        <a class="nav-link" routerLink="/especialidades" routerLinkActive="active-link">Especialidades</a>
      </li>

      <!-- solo admin: seccion alta de administradores -->
      <li *ngIf="tipoUsuarioLogged && tipoUsuarioLogged === tipoUsuarioLabel.get(tipoUsuarioEnum.Administrador)" class="nav-item active">
        <a class="nav-link" routerLink="/alta-admin" routerLinkActive="active-link">Administradores</a>
      </li>


    </ul>

  </div>
  <div>
    <ul class="navbar-nav loginNavMine" >
      <li  class="nav-item active">
        <a *ngIf="!isLoggedIn()" class="nav-link " routerLink="/login" routerLinkActive="active-link">Login</a>
        <a href="#" *ngIf="isLoggedIn()" class="nav-link " (click)="logout()">Logout</a>

      </li>
    </ul>
  </div>
</nav>

