<p>detalle</p>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <img class="card-img-top" [src]="'https://spoiler.bolavip.com/__export/1599499117211/sites/bolavip/img/2020/09/07/el_conjuro_dos.jpg_616993562.jpg'">
    <div class="card-body">
      <div></div>
      <p class="card-text">Pais: {{ tarjeta.name }}</p>
      <p class="card-text">Bandera: {{ tarjeta }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>
